.cardContainer{
  width: 90%;
  border: 2px solid #777;
  border-radius: 1em;
  margin: .75em;
  padding: .5em;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cardContainer:hover{
  color: greenyellow;
  transition: .3s;
}